$theme: "light";
// $primary-color: set-primary-color($theme);
// $secondary-color: set-secondary-color($theme);
// $text-color: set-text-color($theme);
$show-home-image: true;
$home-image: url("../img/background1.jpg");
$opacity: 0.9;

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      .overlay {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba(set-primary-color($theme), $opacity);
        z-index: -1;
      }
    }
  }
}

@keyframes fadeinAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes comefromrightAnimation {
  0% {
    transform: translate3d(-600px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes comefromupAnimation {
  0% {
    transform: translate3d(0, -600px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes comefromdownAnimation {
  0% {
    transform: translate3d(0, 600px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@function change-theme($theme) {
  @if ($theme== "dark") {
    @return "light";
  } @else {
    @return "dark";
  }
}

@mixin easeout {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($theme) {
  @debug $theme;
  @if ($theme == dark) {
    @return #fff;
  } @else {
    @return #000;
  }
}

@function set-primary-color($theme) {
  @if ($theme == dark) {
    @return #444;
  } @else {
    @return #fff;
  }
}

@function set-secondary-color($theme) {
  @if ($theme== dark) {
    @return #eece1a;
  } @else {
    @return rgb(73, 113, 223);
  }
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and(max-width:500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and(max-width:768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and(min-width:769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and(min-width:1171px) {
    @content;
  }
}

//@content is used so that the mixin can be used anywhere with required content
