$primary-color: #444;
$secondary-color: #eece1a;
$text-color: #fff;
$show-home-image: true;
$home-image: url("/dist/img/background3.jpg");
$opacity: 0.9;

@mixin changetheme {
  $primary-color: #fff;
  $secondary-color: #3e53f0;
  $text-color: #000;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      .overlay {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: rgba($primary-color, $opacity);
        z-index: -1;
      }
    }
  }
}

@mixin easeout {
  transition: all 0.5s ease-in-out;
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and(max-width:500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and(max-width:768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and(min-width:769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and(min-width:1171px) {
    @content;
  }
}

//@content is used so that the mixin can be used anywhere with required content
