.menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 3;
  cursor: pointer;
  @include easeout;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background-color: set-text-color($theme);
    @include easeout;
  }

  //Rotate into X with menu lines on click
  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -7px);
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-nav,
  &-branding {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken(set-primary-color($theme), 5);
    transform: translate3d(0, -100%, 0);
    @include easeout;
    &.show {
      //slide in from top
      transform: translate3d(0, 0, 0);
    }

    .nav-item {
      font-size: 1.8rem;
      font-weight: 600;
      list-style: none;
      line-height: 3;
      transform: translate3d(600px, 0, 0);

      &.show {
        @include easeout;
        transform: translate3d(0, 0, 0);
      }

      :hover {
        @include easeout;
        color: set-secondary-color($theme);
      }

      &.current > a {
        color: set-secondary-color($theme);
      }
    }
  }

  &-branding {
    margin: 0;
    padding: 0;
    background: darken(set-primary-color($theme), 3);
    transform: translate3d(0, 100%, 0);
    @include easeout;
    &.show {
      //slide form bottom
      transform: translate3d(0, 0, 0);
    }

    .my-image {
      width: 250px;
      height: 250px;
      background: url("../img/mypic.jpg");
      background-size: cover;
      border-radius: 50%;
      opacity: 1;
      z-index: 4;
      border: 3px solid set-secondary-color($theme);
    }
  }
}
