@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background-color: set-primary-color($theme);
  color: set-text-color($theme);
  margin: 0;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .overlay {
    animation: fadeinAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten(set-primary-color($theme), 2), 0.5);
    font-size: 1.5rem;
  }
}

a {
  color: set-text-color($theme);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: set-secondary-color($theme);
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      font-size: 1.5rem;
      &:hover {
        color: set-secondary-color($theme);
        font-size: 2rem;
        @include easeout();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

/////////about page css/////////////////////////

.about-info {
  display: grid;
  grid-row-gap: 30px;
  grid-template-areas: auto;
  align-items: center;

  .mybio {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto;
    grid-template-areas: 1rf 2rf;
    animation: comefromrightAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .bio-image {
      border-radius: 50%;
      border: 2px solid set-secondary-color($theme);
    }

    .bio {
      font-size: 1.1rem;

      h3 {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }

  .academics {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 1fr 1fr 1fr;
    animation: comefromdownAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .education {
      border: 2px solid grey;
      padding: 20px;
      border-radius: 10%;
      p {
        font-size: 1.1rem;
      }

      h3 {
        animation: comefromupAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }

  .heading {
    animation: fadeinAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 1fr 1fr 1fr 1fr;
    animation: fadeinAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    table {
      td {
        font-size: 15px;
        font-weight: 500;
        border: 2px solid grey;
        padding: 5px 15px;
      }
    }
  }
}
@import "mobile";
